$orange: #ffc300;

body {
    background: rgb(34,166,195);
    background: linear-gradient(0deg, rgba(34,166,195,0.8253676470588236) 42%, rgba(65,90,119,1) 100%);
    font-family: 'Didact Gothic', sans-serif;
}

a {
    background-color: #535353;
    border-color: #535353;
    border:0;
}
img {
    width: 230px;
    height: 230px;
    background-color: #535353;
    border: 2px solid #353535;
    border-radius: 5%;
    margin-top: 10px;
}

input {
    background-color: white;
}

span {
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
    color:$orange;
    text-align: left;
    margin: 0;
    padding: 0;
}

#header {
    font-family: 'Changa One', cursive;
    font-size: 75px;
    color: white;
    margin-top: 15px;
    // margin-left: 5%;
    text-shadow: 3px 3px #fb8500;
}

#header-2 {
    font-family: 'Changa One', cursive;
    font-size: 50px;
    color: white;
    margin-top: 15px;
    margin-left: 5%;
    // text-shadow: 3px 3px $orange;
}

.outerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.outerLogBox {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    align-items: center;
    flex-wrap: wrap;
    .playlistImagesContainer {
        justify-content: center;
        border-style: none !important;
    }
}

.playlistNameContainer {
    margin-right: auto; 
    margin-left: 0;
}

.promptContainerBox {
    align-items: center;
}

.promptCreatorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 75vw;
        margin: 10px;
        border: 5px solid white;
        font-size: 16px;
        border-radius: 3px;
    }
    button {
        background-color: white;
        border-style: solid;
        border: 0;
        width: 50px;
        height: 30px;
        border-radius: 3px;
    }
    button:hover {
        background-color:rgb(34,166,195);
        transition: .85s;
    }
}

.resultDisplayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 3px solid$orange;
    background-color: #535353;
    border-radius: 8px;
    padding: 10px;
    margin: 35px;
    width: 250px;
    height: 300px;
    div {
        background-color: #535353;
    }
}

.inputContainer {
    margin-right: auto; 
    margin-left: 0;
}

.resultDisplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.emotionContainer {
    color: white;
    font-size: 35px;
}

.innerLogBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 3px solid$orange;
    background-color: #535353;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    width: 250px;
    // height: 300px;
    div {
        background-color: #535353;
    }
    button {
        background-color: white;
        border-radius: 25%;
        border-style: solid;
        border: 0;
    }
    button:hover {
        background-color:rgb(34,166,195);
        transition: .5s;
    }
}

.deleteBtn {
    margin-left: auto; 
    margin-right: 0;
}
